RAW_COUNT_MATRIX_LOCATION = 
H5AD_COUNT_MATRIX_LOCATION =
FILTERED_COUNT_MATRIX_LOCATION = 
SCVI_MODEL_LOCATION = 
CLUSTERED_DATA_LOCATION =
DE_ANALYSIS_LOCATION = 

# Plots
DOTPLOTS_DIR = 
QC_RIDGEPLOTS_DIR = 
UMAP_PLOTS_DIR = 
VALIDATION_LOSS_PLOTS_DIR = 
VIOLIN_PLOTS_DIR = 