# NOTE: Do not add spaces around '='
# Use KEY=value (e.g., A=B)
# Formats like A =B, A= B, or A = B may not be parsed.

ROOT_DIR=
DATA_DIR=
N_THREADS=
DUMP_DIR=
FASTQ_DATA=
# ========== scRNA-seq Pipeline Configuration ==========
RAW_DATA="data/original_datasets"
RAW_BULK_DATA="data/raw_bulk_datasets"
MERGED_H5AD="data/merged_h5ad"
PRE_H5AD="data/input"
FILTERED_H5AD="data/filtered_h5ad"
SCVI_MODEL="data/scvi_model"
DIMENSION_REDUCED_H5AD="data/dimension_reduced_h5ad"
CLUSTERED_H5AD="data/clustered_h5ad"
FINAL_H5AD="data/final_h5ad"
DEG="data/deg"
ENRICHMENT="data/enrichment"
CELLCHAT="results/cellchat"
CELLRANK="results/cellrank"
EGA_DATA="raw/ega"
STAR="star"

#Plots
DOTPLOTS="plots/dotplots"
QC_RIDGEPLOTS="plots/qc_ridgeplots"
UMAP_PLOTS="plots/umap_plots"
VALIDATION_LOSS_PLOTS="plots/validation_loss_plots"
VIOLIN_PLOTS="plots/violin_plots"
PROPORTION_PLOTS="plots/proportion_plots"

# ========== qPCR Pipeline Configuration ===============
EDS_DATA="data/eds_qpcr"
QPCR_RESULTS="results/qpcr_results"
