# NOTE: Do not add spaces around '='
# Use KEY=value (e.g., A=B)
# Formats like A =B, A= B, or A = B may not be parsed.

ROOT_DIR=
N_THREADS=
DUMP_DIR=
FASTQ_DATA=
# ========== scRNA-seq Pipeline Configuration ==========
RAW_COUNT_MATRIX=
PRE_H5AD=
FILTERED_H5AD=
SCVI_MODEL=
DIMENSION_REDUCED_H5AD=
CLUSTERED_H5AD=
FINAL_H5AD=
DEG=
ENRICHMENT=
CELLCHAT=
CELLRANK=
SRA_DATA=
EGA_DATA=
CELLRANGER=
CELLBENDER=
SCCOMPOSITE=

#Plots
DOTPLOTS=
QC_RIDGEPLOTS=
UMAP_PLOTS=
VALIDATION_LOSS_PLOTS=
VIOLIN_PLOTS=
PROPORTION_PLOTS=

# ========== qPCR Pipeline Configuration ===============
EDS_DATA=
QPCR_RESULTS=
