.env
*.png
*.svg
*.h5
*.h5ad
*.csv
*.tsv
*.mtx
*.rds
*.txt
*.pdf
*.log
*.out
*.info
*.summary
*.tab
*.pt
*.gz
*.tar
*.zip
*.eds
*.sra
*.fastq
*.fna
*.gtf
*.bam
*.bai
*.sam
*.pkl
__pycache__/
*.swp
*.tmp
.tools/*
references/*
cellranger/*
raw/*
notebooks_example/project/*
notebooks_example/nimlab/*
# pixi environments
.pixi/*
!.pixi/config.toml
